tr , h1  {
			text-align: center;
			background-color: lightblue;
			font-family: sans-serif;
	
		}

		table {
			text-align: center;
			border-collapse: collapse;
			border-spacing: 20px;
			font-family: sans-serif;
		}

		th {
			text-align: center;
			font-family: sans-serif;
		}


		td {
			height: 55px;
			vertical-align: bottom;
			text-align: center;
			font-family: sans-serif;
		}

		p {
			text-align: center;
			background-color: lightblue;
			font-family: sans-serif;
		}

###
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
###
