<style>
		tr , h1  {
			text-align: center;	
		}

		table {
			text-align: center;
			border-collapse: collapse;
			border-spacing: 20px;
		}

		th {
			text-align: center;
		}


		td {
			height: 55px;
			vertical-align: bottom;
			text-align: center;
		}

		p {
			text-align: center;
		}

    .pointer {
      cursor: pointer; /* Cursor to pointer on the table header conversion-->
    }

</style>


<html>

<head>
	<title>Comic Books</title>
</head>

<body>

<center><select onchange="location = this.options[this.selectedIndex].value;" id="genre"> <!-- This lets you dynamically select the page -->
  <option value="/store"> Select</option>
  <option value="/videogames">Video Games </option>
  <option value="/crystals">Crystals </option>
  <option value="/records"> Records </option>
  <option value="/comic-books" selected> Comic Books </option> <!-- Selected on the drop down -->
</select></center>

<script>// Script to sort table headers.  This is from W3School.com.
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("comics");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

	<h1> Comic Book Stores in NJ </h1>
	<p>Note: If you want to sort the table, by name or county, click on "Name" or "County" respectively.</p>

  <center><iframe src="https://www.google.com/maps/d/embed?mid=1sUefpWaXxxek6li1gLZK-t0A3xXImlgr" width="800" height="480" style="border:none"></iframe></center>

  <br><br>

	<table id='comics' style='width:90%; overflow:scroll;'  border='1' table align='center'>
      	<tr>
			<th onclick='sortTable(0)' class='pointer'><center>Name</center></th> <!-- We call the function to sort here -->
			<th><center>Address</center></th>
			<th><center>Phone</center></th>
			<th><center>Website</center></th>
			<th onclick='sortTable(4)' class='pointer'><center>County</center></th>
		</tr>

		
{% for row in results %} <!-- Special Flask code Blocks -->
<tr>
	<td>{{row[1]}}</td>
  <td>{% autoescape false %} {{row[2] | replace('\r', '<br>') }} {% endautoescape %}</td> <!-- "\r" to <br> -->
  <td>{{row[3]}}</td>
	<td><a href={{row[5]}}>{{row[1]}}</a></td>
	<td>{{row[4]}}</td>
</tr>
{% endfor %}
</table>
<br />
<br />


</body>
</body>
</html>




{% extends "Header.html" %} <!-- Navbar on page -->
	
{% block nav_store %}active{% endblock %} <!-- Active on the nav Bar -->
{% block content %}

{% endblock %}



