<html>
<head>
	<title>Home</title>
	
</head>
<body>
	<h1><center>Welcome!</center></h1>
	<br><br><br>
	<p align="middle">Are you going on a road trip?   Do you want to find a store that piques your interest? 
	   Here at Mom-n-Pop Shops of NJ, we hope to guide you in the right direction.  I try my best for simplicity
	   and easy to read website.</p>
	   <br>
	<p align="middle">Do you have an idea of a brand new type of store that we should put on the site? 
	   If you do, please go and submit it on the top of the page!  I'd love to hear from you! </p>

</body>


{% extends "Header.html" %} <!-- This is so the navbar is on the current page. -->
{% block nav_home %}active{% endblock %} <!-- Navbar says we are on this current page. -->
{% block content %}
    
{% endblock %}
</html>
